# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# ASP.NET build output
**/bin/
**/obj/

# Serilog rolling logs
**/logs/

# ASP.NET dev secrets
appsettings.Development.json

# Rider / Visual Studio
.idea/
*.suo
*.user
.vs/

# next.js
.next/
/out/
frontend/out/

# production
/build
frontend/.next/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
